<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283662337219-p2bg5to0csfjnlq18bun5ujktrd957qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283662337219-p2bg5to0csfjnlq18bun5ujktrd957qg</string>
	<key>API_KEY</key>
	<string>AIzaSyAykWP2GiZFkIvfirncvSZN2-dFcdgEmRk</string>
	<key>GCM_SENDER_ID</key>
	<string>283662337219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kmv.converse</string>
	<key>PROJECT_ID</key>
	<string>kmv-converse</string>
	<key>STORAGE_BUCKET</key>
	<string>kmv-converse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283662337219:ios:955cede9ef2c8503944e76</string>
</dict>
</plist>